@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

main{
    grid-area: main;
    height: 61.4vh;
    margin: 1%;
}

aside{
    width: 20%;
    float: left;
    height: 60vh;
   
}
#mypage{
    margin-top: 3%;
    font-size: 20pt;
    padding-bottom: 7px;
    border-bottom: 1px solid  gray; 
    
}
.mypage{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.myList{
    list-style: none;
    
}

.mypage ul li{
    margin: 30% 0 30% 0;
    font-size: 18pt;
    color: black;
}

article{
    width: 75%;
    float: right;
    height: 60vh;
}
.delete{
    border: 1px solid black;
    border-radius: 10px;
}
.delete p{
    font-size: 25pt;
}
.delete span{
    text-align: center;
    font-size: 18pt;
}

#info{
    text-align: center;
    margin:7% 12% 0 0;
    white-space: pre;
    font-size: 20pt;
}

input[type="text"]{
    width:15vw;
    height:3vh;
    font-size: 18pt;
}
input[type="password"]{
    width:15vw;
    height:3vh;
    font-size: 18pt;
}
input[type="button"]{
    font-size: 15pt;
    text-align: center;
    width: 7vw;
    margin: 5% 0 0 45%;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.footer-div{
	display:block;
	width:100%;
	position:fixed;
	bottom:0;
}

