@charset "UTF-8";

*{margin:0; padding : 0; box-sizing: border-box;}

/* body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
} */

.login-form{
	/* display:flex; */
	position : flex;
	justify-content:center;
	align-items: center;
	/* z-index: 2; */
	}

.login-form h1{
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 60px; 
    color: #000000;
    text-align: center;
    margin: 40px 0px 50px 0px;
    padding: 0px;
}

.login-form h2{
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 25px; 
    color: blue;
    text-align: center;
    margin: 40px 0px 50px 0px;
    padding: 0px;
}

.int-area{
	width: 400px; 
	display: block;
	/* justify-content: center;
	align-items: center; */
	}
	
.int-area input{
	/* display: block; */
    width : 300px;
    padding: 20px 10px 10px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size : 18px; 
    color: #0000ff;
    outline : none;
    margin: 0px 0px 30px 50px;
}

.login-inputbox{
	display:flex;
	justify-content: center;
	align-items: center;
	/* margin-left: 400px; */
}

.int-area label{
	padding:0px;
	margin: 0px 0px 0px 55px;
}

.inputbox{
	display:flex;
	justify-content: center;
	align-items:center;
}

.inputbox div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-btn{
	margin-top: 30px;
	margin-left: 250px;
	height: 70px;
	width: 100px;
	margin-bottom:80px;
	border: none;
	border-radius: 11px;
	background: rgba(248, 160, 45, 0.856);
	font-size : 30px;
	font-family:  'Jua', sans-serif;
}

.login-btn:hover{
	cursor: pointer;
	background: violet;
}

/* join.jsp */

.join-h1{
	margin-bottom: 15px;
}
.join-label{
	width: 100px;
	font-size: 30px;
	padding: 0px;
	margin: 0px 0px 0px 30px;
}

.join-area input{
	border: none;
	border-bottom: 1px solid gray;
	width: 400px;
	height: 40px;
	margin: 0px 0px 20px 30px;
}

.form-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.join-btn{
	height: 70px;
	width: 200px;
	margin-left: 230px;
	margin-top: 20px;
	margin-bottom:80px;
	border: none;
	border-radius: 11px;
	background: rgba(248, 160, 45, 0.856);
	font-size : 30px;
	font-family:  'Jua', sans-serif;
}

.join-btn:hover{
	cursor: pointer;
	background: violet;
}

.footer-div{
	display:block;
	width:100%;
	position:fixed;
	bottom:0;
}

