
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;

    width: 100vw;
    height: 100vh;

    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 60% 10%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
    font-family:  'Jua', sans-serif;
}

/* 이 밑에만 변경사항 위에는 고정 */
/* 메인  */

main{
    grid-area: main;
    background-image: url(img/main.jpg);
    background-size: cover;
    text-align: center;
    height: 60vh;
    font-size: 15pt;
    
}
.mainTitle{
    line-height: 150px;
}
.country{
    width: 25vw;
    height: 5vh;
    text-align: center;
    font-size: 25pt;
    border-radius: 5px;
}

input[type="button"]{
    width: 3vw;
    height: 5vh;
    vertical-align: bottom;
    border-radius: 5px;
    font-size: 20pt;
    background-image: url(img/search.png);
}
