	@charset "UTF-8";

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
	height: 80vh;
}

main{
    grid-area: main;
    height: 100vh;
    margin-left: 2%;
    margin-top: 3%;
}

aside{
    width: 15%;
    float: left;
    height: 100vh;
    margin-right: 3%;
   
}
.country{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.country ul{
    list-style: none;

}

.country ul li{
    margin: 10% 0 10% 0;
    font-size: 18pt;
    color: black;
}

.contents{
	width: 70%;
}

table{
	width: 80%;
}

input[type="button"]{
    font-size: 15pt;
    text-align: center;
    width: 6vw;
    margin-left: 53%;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

img{
  	width: 250px;
   	height: 175px;
}

div#writeReview textarea{
   	width: 500px;
   	height: 200px;
   	resize: none;
}
        
span{white-space:pre;}
       
div#writeReview input {
   	width: 200px;
   	height: 35px;
}

footer{
	margin-top : 58vh;
	display:block;
	width:100%;
	position:fixed;
	bottom:0;
	
}

div#review a:link {
	color : blue;
}
div#review a:visited {
	color : orange;
}

div#countryInfo table{
	width: 70%;
	padding: 2% 0 3% 2%;
	border: 1px solid black;
}

div#showShortBlogs table{
	width: 70%;
	margin-top: 3%;
	padding-bottom : 3%;
	border-bottom: 1px solid black;
	
}

div#showShortBlogs td{
	width: 45%;
}



/* div#review table{
	margin-left:10%;
}
 */
 
div#review table#reviewA{
	padding:1% 0 3% 0;
	border-bottom: 1px solid black;
}

div#review table._table{
	width: 100%;
	border-top: 1px dashed black;	
	border-bottom: 1px dashed black;	
}
div#writeReview table{
	width: 70%;
}

div#writeReview th{
	text-align:left;
}

div#showShortBlogs img{
	width: 100px;
	height: 100px;
}

div#showShortBlogs a:link{
	color : blue;
}
div#showShortBlogs a:visited {
	color : orange;
}

